<div class="alert alert-success" *ngIf="isLoggedIn">
  Logged in as {{ roles }}.
</div>
<div *ngIf="isLoggedIn">
  <app-board-master></app-board-master>
</div>  

<div class="login-page">
  <div class="content px20">
    <!-- (ngSubmit)="onLogin()" -->
    <form 
      class="login-form" 
      #myForm="ngForm" 
      
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
      >
      <div class="text-center">
        <h2 class="app-name">Material Admin</h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input 
              matInput 

              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              placeholder="master@master.it"
              value="master@master.it"
              #username="ngModel"            
              >
          </mat-form-field>

          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
            Username is required!
          </div>

          <mat-form-field class="w-100">
            <input 
              matInput type="password" 

              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="3"
              placeholder="password"
              value="password"
              #password="ngModel"
            >
          </mat-form-field>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 3 characters
            </div>
          </div>

        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" class="mt20 mb20">
        <mat-checkbox color="primary" [ngStyle.xs]="{'margin-bottom.px': 10}">Remember Me</mat-checkbox>
        <a href="javascript:void(0)">Forgot Password</a>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <button type="submit" mat-raised-button color="primary" class="w-100">Login</button>
                   
          <!-- <button type="button" mat-button color="primary" class="w-100" (click)="onLogin()">Sign Up</button> -->
        </div>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>   
  </div>
</div>