@import '~src/scss/variables';

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  .content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .app-name {
      margin-top: 0px;
      padding-bottom: 10px;
      font-size: 32px;
    }
    .login-form {
      padding: 40px;
      background: $white;
      max-width: 500px;
      box-shadow: 0 0 20px #ddd;
      input:-webkit-autofill {
        box-shadow: 0 0 0 30px $white inset;
        -webkit-box-shadow: 0 0 0 30px $white inset;
      }
    }
  }
  &:after {
    content: '';
    background: $white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50%;
    right: 0;
  }
  &:before {
    content: '';
    background: $primary-color;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
  }
}


// login bootsrap
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

