<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home-master">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-list-item routerLink="login" *ngIf="!isLoggedIn">
        <mat-icon>login</mat-icon> Login
      </a>
      <a mat-list-item (click)="logout()" *ngIf="isLoggedIn">
        <mat-icon>logout</mat-icon> Logout
      </a>
      <a mat-list-item routerLink="profile" *ngIf="isLoggedIn">
        <mat-icon>account_circle</mat-icon> {{ username }}
      </a>

      <a mat-list-item routerLink="master" *ngIf="showMasterBoard">
        <mat-icon>admin_panel_settings</mat-icon> Home Master
      </a>
      <a mat-list-item routerLink="reseller" *ngIf="showResellerBoard">
        <mat-icon>home</mat-icon> Home Reseller
      </a>
      <a mat-list-item routerLink="add-student">
        <mat-icon>add</mat-icon> Add User
      </a>
      <a mat-list-item routerLink="students-list">
        <mat-icon>format_list_bulleted</mat-icon> User List
      </a>
    </mat-nav-list>
  </mat-sidenav>
<<<<<<< HEAD
=======

>>>>>>> 7dd41280130d99d318b1922ff132432463e77473
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
<<<<<<< HEAD
      <span>MAGGIOLI</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <main class="main-container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
=======
      <span>NEXTY</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <!-- <main class="main-container">

    </main> -->
  </mat-sidenav-content>

    <!-- Add Content Here <mat-sidenav-content> -->
    <!-- <main class="main-container">
      <router-outlet></router-outlet>
    </main> -->

>>>>>>> 7dd41280130d99d318b1922ff132432463e77473
</mat-sidenav-container>
